/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
    font-family: "Final Fantasy 3/6 Font Regular";
    src: url("fonts/final_fantasy_36_font.eot?") format("eot"), url("fonts/final_fantasy_36_font.woff") format("woff"), url("fonts/final_fantasy_36_font.ttf") format("truetype"), url("final_fantasy_36_font.svg#Final-Fantasy-3/6-Font") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    height: 100vh;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Final Fantasy 3/6 Font Regular';
    font-weight: bold;
    background: linear-gradient(to bottom, #0f0f23, #1d1d3a, #2e2e4f);
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

header {
    font-size: xx-large;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    font-size: 50px;
    align-items: center;
    color: #ffffff;
    background: linear-gradient(to right, #663399, #9966cc, #cc99ff);
}

.display {
    margin-top: 0;
    height: 10vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

#display-text {
    color: white;
    font-size: 50px;
}

.score {
    font-size: xx-large;
    font-weight: bolder;
}

.mid-section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 50vh;
    margin-left: 10vh;
    margin-right: 10vh;
}

.left-section,
.right-section {
    box-sizing: border-box;
    background-color: black;
    border: white 5px solid;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fight-section {
    box-sizing: border-box;
    background-color: black;
    border: white 5px solid;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heart-containers-player,
.heart-containers-computer {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.character-img {
    width: 100px;
}

.heart-img {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.weapons-img {
    width: 80px;
    height: 80px;
}

.weapons-img-margin {
    margin: 20px;
}

.play-menu {
    display: flex;
    align-items: center;
    min-height: auto;
    justify-content: center;
    text-align: center;
}

.weapons-container {
    display: none;
}

#play-btn {
    color: white;
    font-family: 'Final Fantasy 3/6 Font Regular';
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    background-color: #042069;
    padding: 20px;
    cursor: pointer;
    border: white 5px solid;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

#play-btn:hover {
    background-color: blue;
    transform: scale(1.01);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px 20px;
}

button:hover {
    transform: scale(1.1);
}